* {
  margin: 0;
  box-sizing: border-box;
}

/* ------------------------ */
/* GENERAL STYLES */
/* ------------------------ */
body {
  font-family: "Inter", sans-serif;
  margin: 0;
  color: white;
  line-height: 1;
  background-color: black;
  font-size: 1.5rem;
}

.container {
  width: 800px;
  height: 600px;
  margin: 7em auto;
  /* position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%); */
}

.scoreboard {
  display: flex;
  gap: 5em;
  background-color: #748ffc;
  padding: 5em 3em;
  border-radius: 3%;
  border: 2px solid wheat;
  outline: 4px solid #748ffc;
}

h2 {
  font-size: 80px;
}

.pts {
  background-color: black;
  color: yellow;
  font-size: 100px;
  font-weight: 500;
  display: flex;
  justify-content: space-evenly;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

#home-pts {
  display: flex;
  justify-content: end;
  padding-right: 0.25em;
}

#away-pts {
  display: flex;
  justify-content: end;
  padding-right: 0.25em;
}

button {
  cursor: pointer;
  width: 80px;
  height: 80px;
  margin-top: 0.5em;
  font-size: 2em;
  border: 3px solid white;
  background-color: #748ffc;
  border-radius: 10px;
}

button:hover {
  background-color: whitesmoke;
  border: 1px solid black;
}

.one {
  margin-top: 1em;
}

.two {
  margin: 0.05em;
}

#reset-score {
  margin-top: 3em;
  font-size: 40px;
}
